.player-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid white;
}

.playerA-heading {
    display: block;
    text-align: center;
}

.vl {
    border-left: 3px solid #61dafb;
    height: 500px;
}

.players {
    display: flex;
    flex-direction: column;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.slider {
    padding: 5px;
}